.changa-uniquifier> {
    font-family: "Changa", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  .cabin-uniquifier> {
    font-family: "Cabin", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

:root {
    --primary-color: #397367;
    --secindary-color: #13293D;
    accent-color: #E3B23C;
    accent-color: #ED6A5A;
}

head {
    font-family: "Changa", system-ui;
    color: orange;
}

header {
    font-family: "Cabin", system-ui;
    color: blue;
}

a {
    text-decoration: none;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

div {
    position: block;
}

h1 {
    position: block;
    top: auto;
}

article {
    position: absolute;
    top: auto;
}

div.hero {
    background-color: #37677a;
    position: relative;
    height: fit-content;
}

.hero > img {
    display: inline;
    width: 100%;
    height: auto;
}

.hero > article {
    position: absolute;
    color: #ffffff;
    bottom: 0;
    font-size: 100%;
    font-family: Changa;
    background-color: #13293d86;
}

.hero > h1 {
    position: absolute;
    width: 100%;
    top: 0;
    text-align:center;
    color:beige;
    background:blank;
}

.hero > article > img {
    float: right;
    width: 10%;
    height: auto;
}