* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: steelblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    position: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #212e3fc0;
    border-radius: 5px;
}
.hero {
    position: relative;
}
.hero {
    text-align: center;
    background-color: #cac7ee;;
    padding: 20px;
}

.hero h1 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 2rem;
    color: white;
}
.hero article {
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    background-color: rgba(6, 78, 141, .5);
    color: white;

}
.hero img {
    width: 100%;
    height: auto;
}
.hero article img {
    width: 200px; 
    float: right; 
}
.hero-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.hero-content img {
    width: 100px;
    height: 100px;
}

.history {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.history-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.history-content img {
    width: 450px;
    height: 120px;
    background-color: #d4c7f4;
}

.adventure {
    background-color: #cac7ee;
    padding: 20px;
    text-align: center;
}

.adventure-gallery {
    display: flex;
    justify-content: space-around;
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    width: 100px;
    height: 100px;
}

footer {
    background-color: steelblue;
    padding: 10px;
    text-align: left;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-right: 20px;
}

.footer-icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.footer-icons img {
    width: 30px;
    margin-left: 10px;
}
